.container {
  background-color: lightsteelblue;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0 30px 0;
}

.donation-form-wrapper {
  background-color: whitesmoke;
  max-width: 1400px;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  border-radius: 3px;
  /* text-align: center; */
  margin-bottom: 50px;
}

.form-row {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
  box-sizing: border-box;
}

.form-row > label {
  padding: 0.5em 1em 0.5em 1em;
  flex: 1;
}

hr.solid {
  border-top: 3px solid #bbb;
  width: 75%;
  padding: 1px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  margin: 0 auto;
  height: 25px;
  width: 100px;
  background-color: lightsteelblue;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.form-row > input,
select {
  flex: 2;
}

.form-row > input {
  padding: 0.5em;
}

table {
  margin: 0 auto;
  margin-bottom: 20px;
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235, 235, 235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
  background-color: rgb(245, 245, 245);
}
